<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlaceToPaySOAP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="WebServiceResTransaccionesBinding">
                <security mode="Transport">
                        <transport clientCredentialType="Basic" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.placetopay.com/redirection/paygate/soap" binding="basicHttpBinding"
                bindingConfiguration="WebServiceResTransaccionesBinding" contract="wsPlaceToPay.WebServiceResTransacciones"
                name="WebServiceResTransaccionesPort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <PlaceToPaySOAP.My.MySettings>
            <setting name="PlaceToPaySOAP_com_placetopay_test_WebServiceResTransaccionesService"
                serializeAs="String">
                <value>https://test.placetopay.com/redirection/paygate/soap</value>
            </setting>
        </PlaceToPaySOAP.My.MySettings>
    </applicationSettings>
</configuration>